[submodule "contrib/microkernel"]
	path = contrib/microkernel
	url = https://github.com/nanvix/microkernel.git
[submodule "utils"]
	path = utils
	url = https://github.com/nanvix/utils.git
[submodule "build"]
	path = build
	url = https://github.com/nanvix/build.git
